body {
  margin: 0;
}
h1, h2, h3{
  margin: 0;
}
@font-face {
  font-family: 'Eastman-Medium';
  src: url(./fonts/EastmanTrial-Medium.otf);
}

@font-face {
  font-family:'Eastman-Regular';
  src: url(./fonts/EastmanTrial-Regular.otf);
}

@font-face {
  font-family: 'Circe Regular';
  src: url(./fonts/Circe-Regular.eot);
  src: url(./fonts/Circe-Regular.eot?#iefix) format('embedded-opentype'),
  url(./fonts/Circe-Regular.woff) format('woff'),
  url(./fonts/Circe-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  }